body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 10%;
}

.half-width {
  width: 50%;
  padding: 1%;
}

.half-width img {
  width: 50%;
  padding-right: 5%;
}

.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  box-shadow: 10px 10px 40px grey;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  border-radius: 10px;


}

.h2 {
  font-size: 40px;
}

.Experiences-area {
  background-image: url(images/exp-bg.png);
  background-position: left;
}

#web-dev {
  border-left: 7px cyan;

}

#final-dev {
  border-left: 7px rgb(230, 11, 200);
  border-image: linear-gradient(rgb(211, 126, 15) rgb(162, 0, 255));
  border-image: 2;
}

pooter p {
  text-align: center;
}